* {
    margin: 0;
    padding: 0;
}

html, body {
    font: 16px Arial, Verdana, sans-serif;
    color: #222;
}

#main {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    height: 90%;
    //text-align: center;
}

#logo {
    text-align: left;
    width: 100%;
    /* background: #ABDB6C; */
    background: #aad874;
    height: 70px;
    -webkit-box-shadow: 0 0 5px 3px #888;
}

#logo h1 {
    font-size: 30px;   
}

#name {
    line-height: 70px;
    padding-top: 5px;
    position: relative;
    left: 10%;
    height: 70px;
    display: inline-block;
}

#left_sidebar {
    width: 19%;
    text-align: left;
    height: auto;
    background: #DFEEE0;
    display: inline-block;
    float: left;
    border-radius: 15px;
    padding: 5px 0 25px 10px;
    font-weight: bold;
    -webkit-box-shadow: 0 0 5px 3px #888;
}

#left_sidebar input,select {
    margin-top: 3px;
    padding: 2px;
    width: 85%;
    color: #448754;
    font-weight: bold;
    //border: 1px solid #284F31;
    border: 1px solid #4B945C;
    border-radius: 7px;
}

#left_sidebar h2 {
    font-size: 16px;
}

#deals_container {
    width: 64%;
    height: 500px;
    text-align: left;
    display: inline-block;
}

#sidebar_right {
    width: 15%;
    height: 500px;
    text-align: left;
    display: inline-block;
    float: right;
}

h1,h2,h3 {
    color: #31270E;
}

#navbar {
    //color #24472C;
    color: #284F31;
    margin: 40px 15% 0px 0px;
    font-size: 20px;
    float: right;
    height: auto;
}

#navbar span {
    margin-right: 15px;
}

.filters {
    margin: 10px 0 0 10px;
    color: #284F31;
}

#add_deal {
    border: 2px solid #284F31;
    border-radius: 5px;
    background: #aad874;
    margin: 0 50px 0 0;
    padding: 0 0px 0 0;
    width: 45px;
    height: 35px;
    float: right;
    text-align: center;
    line-height: 35px;
    font-size: 40px;
    position: relative;
}

.deal {
    //display: inline-block;
    //width: 95%;
    padding: 10px 10px 10px 15px;
    text-align: justify;
    margin: 0;
    margin-left: 15px;
    margin-top: 25px;
    -webkit-box-shadow: inset 0 0 5px 3px #aad874;
    -webkit-box-shadow: 0 0 5px 3px #aad874;

}

.deal_title {
    font-size: 28px;
}

.byline {
    font-weight: bold;
}

.deal_info {
    padding-left: 15px;
    margin: 5px 0 5px 0;
}

.deal_info table {
    width: auto;
}

.deal_info table td {
    //width: 50%;   
    font-weight: bold;
}

.deal_text {
    text-align: justify;    
    min-height: 50px;
}

.when_where {
    font-weight: bold;
}

.deal_footer {
    -webkit-box-shadow: inset 0 0 5px 3px #aad874;
    -webkit-box-shadow: 0 0 5px 3px #aad874;
    //width: 95%;
    margin-left: 15px;
    padding: 10px 10px 10px 15px;
    color: #284F31;
    font-weight: 700;
}

.deal_footer a:link {
    color: #284F31;
}

.deal_footer a:visited {
    color: #284F31;
}

#signup_box {
    width: 30%;
    height: auto;
    float: right;
    margin: 10px 0 0 50px;
    padding: 20px 0px 0px 0px;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px 3px #888;
    background: #aad874;
}

#signup_box input {
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #284F31;
    font-weight: bold;
    padding: 3px 3px 3px 5px;
}

#signup_splash {
    width: 67%;
}

#submit_button {
    padding: 0px;
    margin-bottom: 0px;
    background: #DFEEE0;
}











