* {
    margin: 0;
    padding: 0;
}

html, body {
    font: 16px Arial, Verdana, sans-serif;
    color: #222;
}

#main {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    height: 90%;
    //text-align: center;
}

#logo {
    text-align: left;
    width: 100%;
    /* background: #ABDB6C; */
    background: #aad874;
    height: 70px;
    -webkit-box-shadow: 0 0 5px 3px #888;
}

#name {
    line-height: 70px;
    padding-top: 5px;
    position: relative;
    left: 10%;
    height: 70px;
    display: inline-block;
}

#left_sidebar {
    width: 19%;
    text-align: left;
    height: auto;
    background: #DFEEE0;
    display: inline-block;
    float: left;
    border-radius: 15px;
    padding: 5px 0 25px 10px;
    font-weight: bold;
    -webkit-box-shadow: 0 0 5px 3px #888;
}

#left_sidebar input,select {
    margin-top: 3px;
    width: 85%;
    color: #448754;
    font-weight: bold;
    //border: 1px solid #284F31;
    border: 1px solid #4B945C;
    border-radius: 7px;
}

#left_sidebar h2 {
    font-size: 16px;
}

#deals_container {
    width: 64%;
    height: 500px;
    text-align: left;
    display: inline-block;
}

#sidebar_right {
    width: 15%;
    height: 500px;
    text-align: left;
    display: inline-block;
    float: right;
}

h1,h2,h3 {
    color: #31270E;
    font-size: 2.5em;
}

#navbar {
    //color #24472C;
    color: #284F31;
    margin: 40px 15% 0px 0px;
    font-size: 20px;
    float: right;
    height: auto;
}

#navbar span {
    margin-right: 15px;
}

.filters {
    margin: 10px 0 0 10px;
    color: #284F31;
}

#add_deal {
    border: 2px solid #284F31;
    border-radius: 5px;
    background: #aad874;
    margin: 0 50px 0 0;
    padding: 0 0px 0 0;
    width: 45px;
    height: 35px;
    float: right;
    text-align: center;
    line-height: 35px;
    font-size: 40px;
}

.deal {
    display: inline-block;
    width: 95%;
    padding: 0px 10px 10px 20px;
    text-align: justify;
    margin: 0;
    margin-left: 8px;
    float: left;
    border: 1px solid red;
}

.deal_title {
    font-weight: bold;
    font-size: 20px;
}
















